<html>
    <head>
      <style>
        h1 {
          font-size: 24px; 
          font-weight: bold; 
        }
        p {
          color: #333;
          font-size: 16px; 
        }
      </style>
    </head>
    <body>
      <h1>Hello!</h1>
      <h1>Your reservation in Navbar restaurant has just been canceled.</h1>
      </br>
      <p><strong>Reservation ID:</strong> {{id}}</p>
      <p><strong>Cancellation reason:</strong> {{reason}}</p>
    </body>
</html>